.tile{
    width: 100px;
    height: 100px;
    display: grid;
    place-content: center;
}
.blackTile{
    background-color: #769456;
}
.whiteTile{
    background-color: #ebebd0;
}
.chessPieceImg{
    width: 80px;
}
.chessPiece{
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80px;
}.chessPiece:hover{
 cursor: grab;
}.chessPiece:active{
 cursor: grabbing;
}